//form style validation

.form-control:focus {
  @include animation;
  border-bottom: 2px solid $active !important;
  box-shadow: none;
  outline: none;
}

.form-control-bordered:focus {
  @include animation;
  box-shadow: $focus-shadow;
  border: none !important;
}

.form-control-bordered {
  box-shadow: $regular-shadow;
  border: none;
}

.is-ok {
  border-bottom: 2px solid $ok !important;
  box-shadow: none !important;
  outline: none !important;
}

.is-error {
  border-bottom: 2px solid $error !important;
  box-shadow: none !important;
  outline: none !important;
  background-image: url("/img/icons/error.svg");
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: right;
}

.error-feedback {
  @include font($uni,$regular,11px,14.85px,$error);
}