//form style validation

.form-control:focus {
  @include animation;
  border-bottom: 2px solid $active !important;
  box-shadow: none;
  outline: none;
}

.is-ok {
  border-bottom: 2px solid $ok;
  box-shadow: none;
  outline: none;
}

.is-error {
  border-bottom: 2px solid $error;
  box-shadow: none;
  outline: none;
}